<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="PROJECT_ID" value="camel-hystrix-demo"/>

    <logger name="com.netflix.hystrix.AbstractCommand" level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>


    <logger name="org.springframework.cloud.sleuth.util" level="ERROR">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="demo.meetup"  level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.apache.camel" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
