<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="PROJECT_ID" value="hello-hystrix-demo"/>

    <logger name="com.netflix.hystrix.AbstractCommand"  additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="demo.meetup"  additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.apache.camel" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
